 body{
    /* background: url("https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.wallpapersafari.com%2F7%2F41%2F9nx6im.jpg&f=1"); */
    background: url(../img/bg.jpeg);
} 

body {
    max-width: 1100px;
    margin: auto;
    /* background: black; */
    color: white; 
}

header {
    margin-top: 40px;
    text-align: center;
    width: 100%;
}

header > h2, header > h3 {
    display: inline;
    font-size: 30px;
}

main {
    width: 80%;
}

.wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

main > table , td {
    margin-top: 50px;
    margin-left: 0px;
    border: double #2196F3;
}



td {
    border: double #2196F3;
    width: 200px;
    height: 180px;
    text-align: center;
}

aside {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
;}
 
aside > h1 {
    font-size: 35px;
    color: deepskyblue;
}

aside > p {
    /* border: double #2196F3; */
    font-size: 55px;
    padding: 2px 9px 2px 9px;
    color: chartreuse;
    margin-bottom: 0px;
}

button {
    width: 60px;
    height: 30px;
    border: double red;
    background: blue;
    color: yellow;
    text-align: center;
    font-size: 16px;
    margin-top: 14px;
}
footer {
    /* background: black; */
    color: white;
    text-align: center;

}
footer p {
    padding-top: 15px;
    font-size: 24px;    
}
/*  */
@media (max-width: 650px) {
    header {
        margin-bottom: 50px;
    }
    .wrap {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      text-align: center;
    }
    body {
        margin-top: 50px;
      width: 96%;
    }
    .main {
      margin: 0 20px;
    }
    td , tr{
        height: 100px;
    }
    aside {
        width: 30%;
        height: 40%;
        margin-left: 10px;
        margin-top: 10px;
    }
    footer {
        padding-top: 63px;
        font-size: 24px;
        width: 100%;
    }
  }